<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                             
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19586405?query=java%20Kiev">Программист Java</a></td> 
     <td class="city">Киев, Петровка и еще 2</td> 
     <td class="companyName">Украинский Процессинговый Центр</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19839997?query=java%20Kiev">Senior Java Web Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary">от 2&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19829627?query=java%20Kiev">Java Team Lead – Scrum Master for EFG (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19838983?query=java%20Kiev">Senior Java Developer (Digital Team) for Thomas Cook</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19829713?query=java%20Kiev">Technical Lead – Scrum Master for EFG (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19797157?query=java%20Kiev">Senior Java Developer for EFG (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19545947?query=java%20Kiev">Java-программист</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Finpari</td> 
     <td class="salary">от 50&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19816656?query=java%20Kiev">Senior Front End Developer for Thomas Cook (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19797918?query=java%20Kiev">Java Web Developer</a></td> 
     <td class="city">Киев, Дворец "Украина"</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19724464?query=java%20Kiev">Regular ASP.Net developer (Kiev)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19797204?query=java%20Kiev">Middle Magento Front End Developer for WorldTicket (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19798055?query=java%20Kiev">Senior Java ( Full-Stack) Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19780820?query=java%20Kiev">Java Team Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО lifecell</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19780799?query=java%20Kiev">Senior Java Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО lifecell</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19767155?query=java%20Kiev">Senior Data Science Engineer</a></td> 
     <td class="city">Киев, Тараса Шевченко</td> 
     <td class="companyName">SMART business</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19771487?query=java%20Kiev">Middle PHP Developer for Ciklum Client (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19771391?query=java%20Kiev">Senior Technical Tester for Thomas Cook (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19771307?query=java%20Kiev">QA Team Lead for Thomas Cook (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19763332?query=java%20Kiev">Lead C++ Engineer</a></td> 
     <td class="city">Киев, Васильковская</td> 
     <td class="companyName">Cogniance</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/560164256">Java программист серверной части</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Дедикейтед Лоджик"</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000005374">Java разработчик (Java Developer, Middle Java Developer)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Алтимета"</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/800020394">java-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021444">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">iiko</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021587">Java разработчик</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">BelPrime</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008357">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Instabank</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021415">Java программист</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">SoftAge</td> 
     <td class="salary">От 80 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000005277">Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Faidon Design</td> 
     <td class="salary">От 1 800 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020518">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Банк «Открытие»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021498">Java Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Кадровый центр СОЛОМОН</td> 
     <td class="salary">От 110 000 до 280 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021665">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">VIAcode</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021211">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">John Wiley &amp; Sons Rus, LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000012724">Java-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021705">Senior Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Рексофт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000014505">Backend-разработчик Java</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">АМА ГРУПП</td> 
     <td class="salary">От 70 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021574">Java Team -Lead</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Cinarra</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021778">Senior Java EE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021307">Ведущий Java разработчик</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Digital Zone</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/652337989">Ведущий разработчик Java</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Группа компаний Экстрим</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020995">Java backend разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Группа компаний Агент.ру</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021567">Java Senior (Moscow/UK)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ETHR</td> 
     <td class="salary">От 200 000 до 350 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021730">Senior Java Developer</a></td> 
     <td class="city">Варшава</td> 
     <td class="companyName">Kelly Services</td> 
     <td class="salary">От 1 500 до 4 500 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021419">Отличный frontend-разработчик на Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BostonGene</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021172">Java / Javascript разработчик (front/backend)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Teamlead</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021522">Java/Scala developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DIRECTUAL</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>